MONGO_URL=mongodb://localhost:27017/pingMonitor
PORT=3006
JWT_SECRET=scretCodeJWT
NODE_ENV=development
FRONTEND_URL=http://localhost:5173  //vite port
# EMail JS for temporary usage
EMAILJS_SERVICE_ID=your_service_id
EMAILJS_TEMPLATE_ID=your_template_id
EMAILJS_PUBLIC_KEY=your_public_key
EMAILJS_PRIVATE_KEY=your_private_key
