MONGO_URL=mongodb://localhost:27017/pingMonitor
PORT=3006
JWT_SECRET=scretCodeJWT
# For Mail config: please refer Nodemailer Docs. This example uses Gmail service.
EMAIL_USE=mail@gmail.com
EMAIL_PASS=app_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SERVICE=Gmail
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
