MONGO_URL=mongodb://localhost:27017/pingMonitor
PORT=3006
JWT_SECRET=scretCodeJWT
NODE_ENV=development
FRONTEND_URL=http://localhost:5173  //vite port
# RESEND
RESEND_API_KEY=api_key
SENDER_EMAIL=mail@domain
